.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

@media(max-width:767px){
   .responsive-font {
    font-size: 12px !important;
  }
}
@media(min-width:768px){
  .responsive-font {
    font-size: 13px !important;
  }
}
@media(min-width:992px){
  .responsive-font {
    font-size: 14px !important;
  }
}
@media(min-width:1200px){
  .responsive-font {
    font-size: 16px !important;
  }
}